<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Potwierdzenie rezerwacji</h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-success" role="alert">Twoja rezerwacja została przyjęta i przekazana do realizacji.</div>
      <p>Liczba pokoi: <strong>{{ rooms }}</strong></p>
      <p>Liczba osób: <strong>{{ people }}</strong></p>
      <p>Cena: <strong>{{ price }}</strong></p>
      <p>Lokalizacja: <strong>{{ location }}</strong></p>
      <p>Hotel: <strong>{{ hotel }}</strong></p>
    </div>
  </div>
  <a class="btn btn-primary" routerLink="/reservation" routerLinkActive="active" href="#" role="button">Wróć do początku</a>
</div>